:root {
    --dark: #29313e;
    --green: #85bd3e;
    --green-dark: #73a336;
    --white: #ffffff;
    --dark-light: #f0f0f0;
    --success: var(--green);

}

body {
    font-family: "Overpass", "Helvetica Neue", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--dark);
    font-weight: 300;
}

a {
    color: var(--green);
}

a:hover {
    color: var(--green-dark);
}

.font-green {
    color: var(--green);
}

.font-white {
    color: var(--white);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-dark-light {
    background-color: var(--dark-light) !important;
}

/*.navbar {
    padding: .5rem 0;
}

@media (min-width: 576px) {
    .navbar .nav-item.active:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 70%;
        border-bottom: .15rem solid var(--green);
    }
}*/

.btn-green {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}


.btn-green:hover {
    color: #fff;
    background-color: var(--green-dark);
    border-color: #6a9731;
}

.btn-green:focus,
.btn-green.focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 189, 62, 0.5);
}

.btn-green.disabled,
.btn-green:disabled {
    color: #fff;
    background-color: var(--green-dark);
    border-color: var(--green-dark);
}

footer {
    background-color: var(--dark) !important;
    color: rgba(255, 255, 255, .5);
}

footer a {
    color: rgba(255, 255, 255, .5);
}

footer a:hover {
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

footer .list-inline {
    margin-bottom: 0px !important;
}


.navbar #navbar-search {
    background: rgba(255,255,255,0.10);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
    /* Search …: */
    opacity: 0.6;
    color: var(--white);
    border: none;
    width: 340px;

}

.card.message-card {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    border-radius: 5px;
}

.card .card-user {
    display: flex;
}

.card .profile-img {
   border-radius: 100%; 
   width: 50px; 
   height: 50px;
}

.card .icon-number {
    letter-spacing: 0;
    font-size: 0.9rem;
}

.card .like-message-button,
.card .drop-message-button,
.card .comment-message-button {
    width: 40px;
}

#post-message textarea {
    width: 100%;
    border: none;
}
